{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-es2015-destructuring",
    "transform-es2015-parameters"
  ],
  "env": { "development": { "plugins": ["rewire"] } }
}
